.col-md-6.col-md-offset-3
    -if defined? title
        %h2=title
    .list-group
        - @courses.each do |course|
            %a.list-group-item{href: "/courses/#{course.id}"}
                %h4.list-group-item-heading=course.name
                - count=course.tutors.count
                %p.list-group-item-text="#{count} #{'tutor'.pluralize(count)}"