.row
    .col-md-6.col-md-offset-3
        %h1=@course.name
        %p.lead="#{@course.tutors.count} tutors"
.row
    .col-md-6.col-md-offset-3
        %h2 Tutor Emails:
        %p Click and <kbd>cmd</kbd> + <kbd>A</kbd> to select all:
        .form-group
            %textarea.form-control{rows: 3, readonly: true}=@tutors.map{|t| t.email}.join(', ')
.row= haml :tutors, locals: {title: "Tutors for #{@course.name}"}